body{
    background-image: url(../img/halloween_background_purple.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
a{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

